<div class="chart-controls">
  <select  class='form-control' 
          (change)="onChangeObj($event)" [value]='selected' >
    <option *ngFor="let label of labels; let index = index" [value]='index'>{{label}}</option>
  </select>

  <select  class='form-control' 
          (change)="onTimeObj($event)" [value]='selectedTime' style="margin-left: 20px">
    <option  *ngFor="let time of durations;" [value]='time'>{{time}} Minutes</option>
  </select>
</div>

<div class="svg1-con">
  <svg class="svg1" width="900" height="150"></svg>  
</div>

<button (click)="onPlayPause($event)" style="margin-bottom: 16px;">{{ isPlaying ? 'Pause' : 'Play'}}</button>


<div class="svg-con">
  <svg class="svg" width="900" height="150"></svg>  
</div>
